</main> <!-- fermeture div.contentup (unpupoly content ouver dans header.edge--> 

<section style="background: whitesmoke" class="footer text-center">
    <footer>
        <div class="container">

            <strong>©<span class="copy-year">2024</span> Airskill</strong> - Recruteur de talents et formateurs tech - 
            <a href="/mentions-legales">Mentions légales</a>

        </div>
    </footer>
</section>

</body>
</html>