<section style="background: whitesmoke" class="footer text-center">
    <div class="container">

        <strong>©<span class="copy-year">2024</span> Airskill</strong> - Recruteur de talents et formateurs tech - 
        <a href="/mentions-legales">Mentions légales</a>

    </div>
</section>

</body>
</html>