/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #f5f5f5;
  --gray-dark: #333;
  --gray-light: #f9f9f9;
  --gray-lighter: #f1f1f1;
  --primary: #0046fe;
  /* --primary: #0eab71; */
  --secondary: #ff4081;
  --success: #4caf50;
  --info: #00bcd4;
  --warning: #ffeb3b;
  --danger: #f44336;
  --light: #f8f9fa;
  --dark: #1a1b22;
  --link: #007bff;
}

html {
  scroll-behavior: smooth;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: #000000;
  background-color: #f3f3f6;
  border-color: #b4b4b4;
}

nav {
  height: 60px;
}

#mobile-menu {
  opacity: 0;
  translate: -1024px 0;
  transition-duration: .3s;
  background-color: #f7f8fa;
  height: 100vh;
  padding: 7px 22px;
}

.masked {
  display: block !important;
  translate: 0 !important;
  opacity: 1 !important;
}



@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1368px;
  }
}

div.parent-cards {
  display: flex;
  justify-content: center;
  transform: translate(35px, -3px)
}

div.card.card-hero {
  background: rgb(27 33 51 / 99%);
  border: 1px solid #8088a0;
  width: 225px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  transition-duration: .25s;
}

div.card.card-hero:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  background-color: #3513bc;
}

div.card.card-hero:first-child {
  transform-origin: right;
  transform: rotate(-10deg) translateY(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

div.card.card-hero:first-child:hover {
  transform: rotate(-8deg) translateY(3px);
  background-color: #5d34a0;
}

div.card.card-hero:last-child {
  transform-origin: left;
  transform: rotate(10deg) translateY(10px);
  z-index: 0;
}

div.card.card-hero:last-child:hover {
  transform: rotate(8deg) translateY(3px);
  background-color: #004aa7;
}

div.card.card-hero .img {
  width: 174px;
  position: relative;
}

div.card.card-hero .img img {
  width: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: relative;
}


div.card.card-hero .img .circle {
  width: 174px;
  height: 174px;
  background: #6666e1;
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 0;
  border-radius: 100%;
}

div.card.card-hero:first-child .img .circle {
  background: #d55cff73;
  top: 5px;
  left: 9px;
}

div.card.card-hero:last-child .img .circle {
  background: #9bc3ff;
  top: 3px;
  left: -2px;
}

div.card.card-hero h2 {
  text-align: center;
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 12px;
  letter-spacing: 0.5px;
}

section.founders {
  padding: 70px 16px 100px;
  background: #f9f9fa;

  .company-text {
    padding: 23px;
    padding-top: 8px;
  }
}

section.founders p {
  font-size: 1.055rem;
  line-height: 28px;
  color: #111;
  margin: 0;
  margin-bottom: 8px;
}

.card-founders-container {
  display: grid;
  translate: 0px -25px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  transform: translatey(25px)
}

.card-founder {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  transition-duration: .25s;
  padding: 12px;
  border-radius: 12px;
  border-color: rgb(17 24 39 / 0.15);
  box-shadow: 0 12px 12px -16px rgba(0, 0, 0, 0.25);
}

.card-founder figure {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
}

.card-founder figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-founder figure figcaption h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card-founder img {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  margin-bottom: 5px;
}

.card-founder .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 6px 12px;
  ;
  background: #fff !important;
}

.card-founder h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

section.founders .card-founder p {
  line-height: 22px;
  margin: 0;
  margin-bottom: 8px;
  color: #333;
  font-size: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  margin: 8px 0;
}

div.placeholder-lines {
  width: 175px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.placeholder-lines span {
  height: 5px;
  border-radius: 16px;
  width: 100%;
  background: #6881c438;
  margin-bottom: 0px;
  display: block;
}

div.placeholder-lines span:last-child {
  width: 75%;
}



h1.title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #1e212c;
  line-height: 37px;
}

.hero .subtitle {
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  /* margin-bottom: 60px; */
  font-family: 'Nunito Sans', sans-serif;
}

.highlight {
  display: inline;
  /* text-shadow: 2px 2px 2px #f6de86 !important; */
  font-weight: bold;
  font-size: 0.95em;
  /* color: var(--primary); */
}

.glow {
  -webkit-box-shadow: 0px 0px 90px 16px rgba(7, 3, 255, 0.38);
  -moz-box-shadow: 0px 0px 90px 16px rgba(7, 3, 255, 0.38);
  box-shadow: 0px 0px 90px 16px rgba(7, 3, 255, 0.38);
}

.linkedin {
  margin-top: 8px;
  color: #0c3f7e;
}

.linkedin:hover {
  cursor: pointer;
  color: #094895;
}

.cta {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 25px;
  background: var(--primary);
  font-weight: 500;
  letter-spacing: 0px;
  border: 0;
  color: #fff;
  border-radius: 8px;
  transition-duration: .3s;
}

.cta-wrapper {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px 50px;
  background-position: 50%;
  flex-wrap: wrap;
}

.cta:hover {
  background: #032e9b;
}

.cta-medium {
  font-size: 16.4px;
  line-height: 20px;
  padding: 15px 24px;
  margin: 5px;
  margin-bottom: 0;
}



.mb-6 {
  margin-bottom: 60px !important;
}

.hero .image {
  margin-top: 30px;
}

.hero .wrap {
  color: #e9bb04;
  background: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-toggle::after {
  display: none;
}

.hero .btn-hire {
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  font-size: 18px;
  line-height: 21px;
  color: hsl(0, 0%, 0%);
  background: #fff;
  border: 1px solid #000000;
  box-shadow: 0px 0px 0px #000e1b;
  border-radius: 5px;
  padding: 14px 9px;
  display: inline-block;
  transform: translate(0px, 0px);
  transition: all .3s ease;
}

.hero .btn-search {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  line-height: 21px;
  color: #ffffff;
  background: var(--primary);
  box-shadow: 0px 0px 0px #000000;
  border-radius: 5px;
  padding: 15px 12px;
  display: inline-block;
  transform: translate(0px, 0px);
  transition: all .3s ease;
  margin-right: 10px;
}

.hero .btn-search:hover {
  background: #332ecd;
}

/** App **/
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

img {
  width: 100%;
}

.pattern-square::after {
  background-image: url(https://block.codescandy.com/assets/images/pattern/pattern-square.svg);
  background-position: top;
  bottom: 0;
  content: "";
  height: 331px;
  left: 0;
  -webkit-mask-image: linear-gradient(0deg, transparent 35%, #000 75%);
  mask-image: linear-gradient(0deg, transparent 35%, #000 75%);
  padding: 40px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.customers {
  translate: 0px 55px;
}

.customers h2 {
  font-size: 1.125rem;
  color: #868686;
  text-align: center;
  padding: 0;
  margin: 0;
}

.customers-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  place-items: center;
}

.customers-container img {
  width: 45%;
  object-fit: contain;
}

.course-item-formations-list {
  transition-duration: .2s;
}

.course-item-formations-list:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 1199px) {
  div.parent-cards {
    transform: translate(0px, 40px) !important;
  }

}

@media screen and (max-width: 768px) {
  .card-founders-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    transform: translatey(25px)
  }

  .customers-container img {
    width: 65%;
  }
}

@media screen and (max-width: 576px) {
  section.founders {
    padding: 40px 16px 100px;

    .company-text {
      padding: 12px;
    }
  }

  .customers-container img {
    width: 85%;
  }

  section {
    padding: 40px 12px;
  }

  .cta-wrapper {
    padding: 0px 20px 50px;
  }

  .hero .btn-hire,
  .hero .btn-search {
    font-size: 15px;
  }

  .card-founders-container {
    gap: 24px;
  }

}




/* @import "./home-onboarding.css"; 
@import "./home-expertises.css";
@import "./home-trustcustomers.css"; */