:root {
    --ship-size: 10vmin;
    --sky-color: #1C1740;
    --ship-color: #F9E2FE;
    --ship-cap-color: crimson;
    --ship-wing-color: #4C3198;
    --ship-window-trim-color: #4C3198;
    --ship-booster-color: #C38382;
    --star-color: white;
    --stars-sm-speed: 120s;
    --stars-md-speed: 48s;
    --stars-lg-speed: 24s;
}

* {
    box-sizing: border-box;
}



.body-space h2 {
    color: aliceblue;
    padding-top: 16px !important;
    padding-bottom: 64px;
}

.body-space {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #1d2029 !important;
    padding: 40px 0;
    min-height: 960px;
}


.star-field {
    position: absolute;
    top: 50%;
    left: 50%;
    will-change: transform;
    transition: transform 0.4s ease;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.ship {
    width: 100vw;
    height: auto;
    position: absolute;
}

.star-field {
    width: 200%;
    height: 200%;
    transition: transform 1s ease-out;
}

.hover-area {
    flex-grow: 1;
    z-index: 3;
}

.hover-area:nth-child(1):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.hover-area:nth-child(2):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-80deg);
}

.hover-area:nth-child(3):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-70deg);
}

.hover-area:nth-child(4):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-60deg);
}

.hover-area:nth-child(5):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-50deg);
}

.hover-area:nth-child(6):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-40deg);
}

.hover-area:nth-child(7):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-30deg);
}

.hover-area:nth-child(8):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-20deg);
}

.hover-area:nth-child(9):hover~.star-field {
    transform: translate(-50%, -50%) rotate(-10deg);
}

.hover-area:nth-child(10):hover~.star-field {
    transform: translate(-50%, -50%) rotate(0deg);
}

.hover-area:nth-child(11):hover~.star-field {
    transform: translate(-50%, -50%) rotate(0deg);
}

.hover-area:nth-child(12):hover~.star-field {
    transform: translate(-50%, -50%) rotate(10deg);
}

.hover-area:nth-child(13):hover~.star-field {
    transform: translate(-50%, -50%) rotate(20deg);
}

.hover-area:nth-child(14):hover~.star-field {
    transform: translate(-50%, -50%) rotate(30deg);
}

.hover-area:nth-child(15):hover~.star-field {
    transform: translate(-50%, -50%) rotate(40deg);
}

.hover-area:nth-child(16):hover~.star-field {
    transform: translate(-50%, -50%) rotate(50deg);
}

.hover-area:nth-child(17):hover~.star-field {
    transform: translate(-50%, -50%) rotate(60deg);
}

.hover-area:nth-child(18):hover~.star-field {
    transform: translate(-50%, -50%) rotate(70deg);
}

.hover-area:nth-child(19):hover~.star-field {
    transform: translate(-50%, -50%) rotate(80deg);
}

.hover-area:nth-child(20):hover~.star-field {
    transform: translate(-50%, -50%) rotate(90deg);
}

.hover-area:active~.star-field .stars-sm:before,
.hover-area:active~.star-field .stars-sm:after {
    animation-duration: calc(var(--stars-sm-speed) / 2);
}

.hover-area:active~.star-field .stars-sm:after {
    animation-delay: calc(var(--stars-sm-speed) / -4);
}

.hover-area:active~.star-field .stars-md:before,
.hover-area:active~.star-field .stars-md:after {
    animation-duration: calc(var(--stars-md-speed) / 2);
}

.hover-area:active~.star-field .stars-md:after {
    animation-delay: calc(var(--stars-md-speed) / -4);
}

.hover-area:active~.star-field .stars-lg:before,
.hover-area:active~.star-field .stars-lg:after {
    animation-duration: calc(var(--stars-lg-speed) / 2);
}

.hover-area:active~.star-field .stars-lg:after {
    animation-delay: calc(var(--stars-lg-speed) / -4);
}

.hover-area:active~.ship .wrapper {
    animation: speed-up-ship 80ms linear infinite alternate;
}

.hover-area:active~.ship .exhaust {
    animation: speed-up-exhaust 80ms linear infinite alternate;
}

.ship .wrapper {
    display: flex;
}

.ship .body {
    position: relative;
    background-color: var(--ship-color);
    border-radius: 0 0 50% 50%/76% 76% 15% 15%;
}

.ship .body:before {
    content: "";
    position: absolute;
    border-radius: 50% 50% 50% 50%/76% 76% 25% 25%;
}

.ship .main {
    width: var(--ship-size);
    height: calc(var(--ship-size) * 1.5);
    box-shadow: inset rgba(0, 0, 0, 0.15) -0.5vmin 0 2vmin 0;
}

.ship .main:before {
    bottom: 80%;
    width: 100%;
    height: 75%;
    background-color: inherit;
    box-shadow: inset rgba(0, 0, 0, 0.15) -0.5vmin 1vmin 1vmin 0;
}

.ship .main:after {
    content: "";
    position: absolute;
    bottom: 75%;
    left: 0;
    right: 0;
    margin: auto;
    border: calc(var(--ship-size) / 15) solid var(--ship-window-trim-color);
    width: calc(var(--ship-size) / 1.8);
    height: calc(var(--ship-size) / 1.8);
    box-shadow: inset rgba(0, 0, 0, 0.075) -2vmin -2vmin 0 0, inset rgba(0, 0, 0, 0.1) -1vmin -1.5vmin 0 0;
    border-radius: 100%;
}

.ship .side {
    width: calc(var(--ship-size) / 3);
    height: var(--ship-size);
    box-shadow: inset rgba(0, 0, 0, 0.1) -0.5vmin 0 1vmin 0, inset rgba(0, 0, 0, 0.1) 0.5vmin 0 1vmin 0;
}

.ship .side:before {
    bottom: 90%;
    width: 100%;
    height: 35%;
    background-color: var(--ship-cap-color);
    box-shadow: inset rgba(0, 0, 0, 0.2) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.2) 0.5vmin 1vmin 1vmin 0;
}

.ship .side.left {
    left: 1px;
}

.ship .side.right {
    right: 1px;
}

.ship .wing {
    position: absolute;
    bottom: 2vmin;
    background-color: var(--ship-wing-color);
    width: calc(var(--ship-size) / 2);
    height: calc(var(--ship-size) / 1.5);
    z-index: 1;
    box-shadow: inset rgba(0, 0, 0, 0.1) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.1) 0.5vmin 1vmin 1vmin 0;
}

.ship .wing.left {
    right: 100%;
    border-radius: 100% 0 10% 10%;
}

.ship .wing.right {
    left: 100%;
    border-radius: 0 100% 10% 10%;
}

.ship .booster {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(var(--ship-size) / 1.2);
    height: calc(var(--ship-size) / 2.5);
    background-color: var(--ship-booster-color);
    border-radius: 0 0 50% 50%/76% 76% 35% 35%;
    z-index: -1;
    box-shadow: inset rgba(0, 0, 0, 0.3) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.3) 0.5vmin 1vmin 1vmin 0, black 0 0 2vmin;
}

.ship .exhaust {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(var(--ship-size) / 1.4);
    height: 80%;
    border-radius: 0 0 100% 100%;
    background-image: linear-gradient(to bottom, yellow, transparent 70%);
    z-index: -2;
    transform-origin: 50% 0;
    animation: exhaust 0.1s linear alternate infinite;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
}

.stars:before,
.stars:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation: stars linear infinite;
    transform: translateY(-100vh);
}

.stars-sm {
    width: 1px;
    height: 1px;
}

.stars-sm:before,
.stars-sm:after {
    box-shadow: 140vw 140vh var(--star-color), 62vw 90vh var(--star-color), 59vw 90vh var(--star-color), 125vw 182vh var(--star-color), 110vw 42vh var(--star-color), 179vw 170vh var(--star-color), 52vw 42vh var(--star-color), 20vw 29vh var(--star-color), 59vw 128vh var(--star-color), 158vw 160vh var(--star-color), 96vw 114vh var(--star-color), 181vw 64vh var(--star-color), 156vw 128vh var(--star-color), 160vw 163vh var(--star-color), 35vw 41vh var(--star-color), 187vw 120vh var(--star-color), 192vw 84vh var(--star-color), 39vw 5vh var(--star-color), 77vw 91vh var(--star-color), 72vw 66vh var(--star-color), 192vw 132vh var(--star-color), 98vw 37vh var(--star-color), 56vw 16vh var(--star-color), 109vw 56vh var(--star-color), 180vw 132vh var(--star-color), 103vw 33vh var(--star-color), 54vw 108vh var(--star-color), 55vw 161vh var(--star-color), 133vw 59vh var(--star-color), 37vw 176vh var(--star-color), 69vw 123vh var(--star-color), 75vw 113vh var(--star-color), 69vw 9vh var(--star-color), 77vw 73vh var(--star-color), 76vw 80vh var(--star-color), 160vw 187vh var(--star-color), 120vw 64vh var(--star-color), 18vw 150vh var(--star-color), 165vw 89vh var(--star-color), 116vw 189vh var(--star-color), 54vw 10vh var(--star-color), 59vw 19vh var(--star-color), 181vw 14vh var(--star-color), 67vw 31vh var(--star-color), 187vw 99vh var(--star-color), 40vw 25vh var(--star-color), 161vw 54vh var(--star-color), 182vw 71vh var(--star-color), 124vw 98vh var(--star-color), 66vw 7vh var(--star-color), 174vw 107vh var(--star-color), 69vw 131vh var(--star-color), 169vw 1vh var(--star-color), 52vw 107vh var(--star-color), 137vw 144vh var(--star-color), 112vw 10vh var(--star-color), 146vw 56vh var(--star-color), 45vw 191vh var(--star-color), 58vw 97vh var(--star-color), 145vw 127vh var(--star-color), 129vw 163vh var(--star-color), 44vw 119vh var(--star-color), 74vw 89vh var(--star-color), 59vw 175vh var(--star-color), 131vw 110vh var(--star-color), 166vw 135vh var(--star-color), 16vw 142vh var(--star-color), 9vw 85vh var(--star-color), 165vw 65vh var(--star-color), 61vw 130vh var(--star-color), 159vw 152vh var(--star-color), 56vw 3vh var(--star-color), 111vw 22vh var(--star-color), 18vw 97vh var(--star-color), 2vw 169vh var(--star-color), 175vw 145vh var(--star-color), 31vw 194vh var(--star-color), 19vw 72vh var(--star-color), 69vw 185vh var(--star-color), 185vw 19vh var(--star-color), 9vw 38vh var(--star-color), 78vw 125vh var(--star-color), 127vw 112vh var(--star-color), 61vw 192vh var(--star-color), 138vw 28vh var(--star-color), 84vw 35vh var(--star-color), 179vw 179vh var(--star-color), 79vw 142vh var(--star-color), 187vw 194vh var(--star-color), 113vw 187vh var(--star-color), 6vw 38vh var(--star-color), 49vw 159vh var(--star-color), 69vw 163vh var(--star-color), 169vw 40vh var(--star-color), 194vw 81vh var(--star-color), 45vw 33vh var(--star-color), 107vw 60vh var(--star-color), 21vw 137vh var(--star-color), 113vw 107vh var(--star-color), 105vw 5vh var(--star-color), 151vw 20vh var(--star-color), 11vw 9vh var(--star-color), 51vw 85vh var(--star-color), 63vw 117vh var(--star-color), 14vw 163vh var(--star-color), 142vw 29vh var(--star-color), 83vw 182vh var(--star-color), 46vw 99vh var(--star-color), 188vw 71vh var(--star-color), 174vw 87vh var(--star-color), 195vw 6vh var(--star-color), 80vw 21vh var(--star-color), 4vw 143vh var(--star-color), 83vw 91vh var(--star-color), 97vw 154vh var(--star-color), 13vw 157vh var(--star-color), 9vw 179vh var(--star-color), 53vw 193vh var(--star-color), 56vw 165vh var(--star-color), 62vw 146vh var(--star-color), 133vw 22vh var(--star-color), 82vw 159vh var(--star-color), 3vw 135vh var(--star-color), 33vw 23vh var(--star-color), 199vw 77vh var(--star-color), 75vw 33vh var(--star-color), 179vw 29vh var(--star-color), 65vw 141vh var(--star-color), 3vw 118vh var(--star-color), 110vw 65vh var(--star-color), 183vw 42vh var(--star-color), 27vw 150vh var(--star-color), 154vw 22vh var(--star-color), 86vw 47vh var(--star-color), 143vw 82vh var(--star-color), 15vw 165vh var(--star-color), 6vw 85vh var(--star-color), 82vw 134vh var(--star-color), 22vw 23vh var(--star-color), 1vw 8vh var(--star-color), 126vw 182vh var(--star-color), 148vw 113vh var(--star-color), 21vw 120vh var(--star-color), 55vw 77vh var(--star-color), 95vw 112vh var(--star-color), 99vw 85vh var(--star-color), 160vw 183vh var(--star-color), 123vw 149vh var(--star-color), 145vw 56vh var(--star-color), 143vw 67vh var(--star-color), 129vw 168vh var(--star-color), 58vw 89vh var(--star-color), 48vw 136vh var(--star-color), 35vw 39vh var(--star-color), 106vw 3vh var(--star-color), 11vw 111vh var(--star-color), 69vw 46vh var(--star-color), 86vw 5vh var(--star-color), 169vw 142vh var(--star-color), 12vw 152vh var(--star-color), 32vw 100vh var(--star-color), 21vw 89vh var(--star-color), 143vw 116vh var(--star-color), 52vw 61vh var(--star-color), 33vw 129vh var(--star-color), 76vw 7vh var(--star-color), 131vw 62vh var(--star-color), 15vw 132vh var(--star-color), 9vw 34vh var(--star-color), 139vw 12vh var(--star-color), 196vw 76vh var(--star-color), 131vw 130vh var(--star-color), 15vw 178vh var(--star-color), 12vw 3vh var(--star-color), 132vw 60vh var(--star-color), 133vw 8vh var(--star-color), 114vw 47vh var(--star-color), 189vw 115vh var(--star-color), 196vw 145vh var(--star-color), 174vw 155vh var(--star-color), 163vw 92vh var(--star-color), 3vw 21vh var(--star-color), 187vw 84vh var(--star-color), 58vw 141vh var(--star-color), 142vw 45vh var(--star-color), 17vw 117vh var(--star-color), 134vw 38vh var(--star-color), 162vw 10vh var(--star-color), 155vw 51vh var(--star-color), 94vw 183vh var(--star-color), 147vw 166vh var(--star-color), 138vw 95vh var(--star-color), 84vw 153vh var(--star-color), 37vw 169vh var(--star-color), 75vw 75vh var(--star-color), 100vw 169vh var(--star-color), 172vw 58vh var(--star-color), 21vw 164vh var(--star-color), 174vw 43vh var(--star-color), 100vw 56vh var(--star-color), 169vw 136vh var(--star-color), 10vw 18vh var(--star-color), 127vw 134vh var(--star-color), 129vw 194vh var(--star-color), 132vw 116vh var(--star-color), 11vw 51vh var(--star-color), 24vw 12vh var(--star-color), 6vw 29vh var(--star-color), 155vw 126vh var(--star-color), 92vw 159vh var(--star-color), 44vw 101vh var(--star-color), 115vw 98vh var(--star-color), 4vw 192vh var(--star-color), 84vw 143vh var(--star-color), 159vw 157vh var(--star-color), 162vw 52vh var(--star-color), 11vw 5vh var(--star-color), 87vw 33vh var(--star-color), 161vw 108vh var(--star-color), 164vw 179vh var(--star-color), 24vw 57vh var(--star-color), 152vw 54vh var(--star-color), 153vw 118vh var(--star-color), 101vw 18vh var(--star-color), 75vw 171vh var(--star-color), 116vw 183vh var(--star-color), 97vw 190vh var(--star-color), 198vw 127vh var(--star-color), 142vw 19vh var(--star-color), 82vw 51vh var(--star-color), 19vw 194vh var(--star-color), 192vw 176vh var(--star-color), 61vw 140vh var(--star-color), 130vw 83vh var(--star-color), 134vw 155vh var(--star-color), 62vw 123vh var(--star-color), 6vw 114vh var(--star-color), 55vw 146vh var(--star-color), 174vw 150vh var(--star-color), 132vw 173vh var(--star-color), 187vw 43vh var(--star-color), 7vw 154vh var(--star-color), 93vw 64vh var(--star-color), 96vw 34vh var(--star-color), 182vw 182vh var(--star-color), 98vw 77vh var(--star-color), 47vw 109vh var(--star-color), 195vw 85vh var(--star-color), 78vw 10vh var(--star-color), 140vw 45vh var(--star-color), 86vw 88vh var(--star-color), 107vw 6vh var(--star-color), 179vw 133vh var(--star-color), 52vw 196vh var(--star-color), 34vw 135vh var(--star-color), 164vw 77vh var(--star-color), 85vw 140vh var(--star-color), 195vw 78vh var(--star-color), 18vw 56vh var(--star-color), 135vw 182vh var(--star-color), 178vw 77vh var(--star-color), 20vw 142vh var(--star-color), 44vw 160vh var(--star-color), 147vw 79vh var(--star-color), 86vw 85vh var(--star-color), 38vw 148vh var(--star-color), 198vw 119vh var(--star-color), 67vw 87vh var(--star-color), 161vw 194vh var(--star-color), 23vw 187vh var(--star-color), 183vw 123vh var(--star-color), 87vw 27vh var(--star-color), 197vw 50vh var(--star-color), 103vw 155vh var(--star-color), 23vw 116vh var(--star-color), 98vw 159vh var(--star-color), 182vw 130vh var(--star-color), 43vw 97vh var(--star-color), 153vw 54vh var(--star-color), 126vw 51vh var(--star-color), 185vw 29vh var(--star-color), 88vw 118vh var(--star-color), 6vw 197vh var(--star-color), 128vw 199vh var(--star-color), 91vw 96vh var(--star-color), 112vw 73vh var(--star-color), 185vw 62vh var(--star-color), 76vw 18vh var(--star-color), 193vw 40vh var(--star-color), 165vw 21vh var(--star-color), 100vw 186vh var(--star-color), 160vw 53vh var(--star-color), 143vw 114vh var(--star-color), 4vw 4vh var(--star-color), 188vw 164vh var(--star-color), 163vw 108vh var(--star-color), 138vw 136vh var(--star-color), 160vw 55vh var(--star-color), 88vw 118vh var(--star-color), 122vw 25vh var(--star-color), 107vw 28vh var(--star-color), 190vw 109vh var(--star-color), 45vw 82vh var(--star-color), 140vw 140vh var(--star-color), 67vw 135vh var(--star-color), 197vw 146vh var(--star-color), 155vw 123vh var(--star-color), 20vw 39vh var(--star-color), 93vw 21vh var(--star-color), 188vw 35vh var(--star-color), 106vw 68vh var(--star-color), 48vw 6vh var(--star-color), 179vw 130vh var(--star-color), 136vw 29vh var(--star-color), 138vw 57vh var(--star-color), 155vw 61vh var(--star-color), 193vw 157vh var(--star-color), 115vw 117vh var(--star-color), 56vw 114vh var(--star-color), 44vw 117vh var(--star-color), 119vw 94vh var(--star-color), 178vw 78vh var(--star-color), 159vw 150vh var(--star-color), 134vw 27vh var(--star-color), 83vw 96vh var(--star-color), 79vw 62vh var(--star-color), 74vw 163vh var(--star-color), 75vw 41vh var(--star-color), 63vw 46vh var(--star-color), 149vw 66vh var(--star-color), 95vw 50vh var(--star-color), 20vw 140vh var(--star-color), 196vw 149vh var(--star-color), 87vw 171vh var(--star-color), 48vw 59vh var(--star-color), 59vw 159vh var(--star-color), 164vw 38vh var(--star-color), 139vw 150vh var(--star-color), 88vw 51vh var(--star-color), 16vw 8vh var(--star-color), 88vw 109vh var(--star-color), 72vw 190vh var(--star-color), 176vw 154vh var(--star-color), 135vw 176vh var(--star-color), 69vw 49vh var(--star-color), 61vw 18vh var(--star-color), 123vw 53vh var(--star-color), 175vw 71vh var(--star-color), 153vw 122vh var(--star-color), 5vw 199vh var(--star-color), 192vw 47vh var(--star-color), 173vw 197vh var(--star-color), 38vw 24vh var(--star-color), 9vw 23vh var(--star-color), 27vw 10vh var(--star-color), 195vw 42vh var(--star-color), 158vw 186vh var(--star-color), 84vw 90vh var(--star-color), 110vw 39vh var(--star-color), 134vw 43vh var(--star-color), 43vw 147vh var(--star-color), 5vw 167vh var(--star-color), 107vw 155vh var(--star-color), 51vw 127vh var(--star-color), 121vw 60vh var(--star-color), 116vw 144vh var(--star-color), 49vw 145vh var(--star-color), 54vw 7vh var(--star-color), 193vw 97vh var(--star-color), 79vw 70vh var(--star-color), 65vw 53vh var(--star-color), 186vw 199vh var(--star-color), 186vw 123vh var(--star-color), 119vw 73vh var(--star-color), 147vw 4vh var(--star-color), 158vw 119vh var(--star-color), 73vw 77vh var(--star-color), 23vw 167vh var(--star-color), 142vw 156vh var(--star-color), 155vw 128vh var(--star-color), 164vw 158vh var(--star-color), 185vw 121vh var(--star-color), 64vw 180vh var(--star-color), 99vw 112vh var(--star-color), 33vw 40vh var(--star-color), 53vw 62vh var(--star-color), 141vw 36vh var(--star-color), 185vw 98vh var(--star-color), 119vw 74vh var(--star-color), 64vw 29vh var(--star-color), 46vw 173vh var(--star-color), 17vw 45vh var(--star-color), 96vw 23vh var(--star-color), 175vw 95vh var(--star-color), 133vw 53vh var(--star-color), 119vw 136vh var(--star-color), 1vw 35vh var(--star-color), 130vw 188vh var(--star-color), 69vw 163vh var(--star-color), 64vw 140vh var(--star-color), 128vw 117vh var(--star-color), 19vw 59vh var(--star-color), 96vw 160vh var(--star-color), 35vw 138vh var(--star-color), 123vw 16vh var(--star-color), 15vw 148vh var(--star-color), 30vw 55vh var(--star-color), 161vw 48vh var(--star-color), 141vw 161vh var(--star-color), 26vw 18vh var(--star-color), 169vw 18vh var(--star-color), 171vw 145vh var(--star-color), 23vw 32vh var(--star-color), 99vw 87vh var(--star-color), 32vw 172vh var(--star-color), 70vw 36vh var(--star-color), 23vw 166vh var(--star-color), 161vw 69vh var(--star-color), 156vw 43vh var(--star-color), 62vw 60vh var(--star-color), 80vw 192vh var(--star-color), 9vw 102vh var(--star-color), 133vw 163vh var(--star-color), 2vw 171vh var(--star-color), 48vw 190vh var(--star-color), 60vw 115vh var(--star-color), 196vw 177vh var(--star-color), 115vw 2vh var(--star-color), 196vw 10vh var(--star-color), 1vw 26vh var(--star-color), 142vw 142vh var(--star-color), 97vw 125vh var(--star-color), 6vw 197vh var(--star-color), 158vw 89vh var(--star-color), 16vw 18vh var(--star-color), 174vw 151vh var(--star-color), 183vw 127vh var(--star-color), 43vw 111vh var(--star-color), 143vw 182vh var(--star-color), 196vw 200vh var(--star-color), 6vw 95vh var(--star-color), 8vw 43vh var(--star-color), 68vw 127vh var(--star-color), 113vw 2vh var(--star-color), 170vw 25vh var(--star-color), 108vw 34vh var(--star-color), 195vw 195vh var(--star-color), 166vw 133vh var(--star-color), 55vw 148vh var(--star-color), 19vw 130vh var(--star-color), 150vw 134vh var(--star-color), 5vw 139vh var(--star-color), 124vw 65vh var(--star-color), 111vw 102vh var(--star-color), 97vw 98vh var(--star-color), 181vw 14vh var(--star-color), 148vw 21vh var(--star-color), 30vw 36vh var(--star-color), 14vw 45vh var(--star-color), 186vw 30vh var(--star-color), 148vw 159vh var(--star-color), 50vw 79vh var(--star-color), 50vw 149vh var(--star-color), 100vw 77vh var(--star-color), 131vw 58vh var(--star-color), 2vw 149vh var(--star-color), 87vw 25vh var(--star-color), 67vw 17vh var(--star-color), 164vw 112vh var(--star-color), 77vw 112vh var(--star-color), 157vw 121vh var(--star-color), 105vw 169vh var(--star-color), 108vw 53vh var(--star-color), 48vw 187vh var(--star-color), 119vw 132vh var(--star-color), 6vw 135vh var(--star-color), 3vw 115vh var(--star-color), 31vw 161vh var(--star-color), 13vw 33vh var(--star-color), 182vw 49vh var(--star-color), 32vw 178vh var(--star-color), 169vw 142vh var(--star-color), 126vw 81vh var(--star-color), 154vw 27vh var(--star-color), 90vw 15vh var(--star-color), 45vw 51vh var(--star-color), 72vw 137vh var(--star-color), 22vw 195vh var(--star-color), 142vw 139vh var(--star-color), 95vw 73vh var(--star-color), 110vw 23vh var(--star-color), 10vw 98vh var(--star-color), 63vw 76vh var(--star-color), 145vw 129vh var(--star-color), 115vw 127vh var(--star-color), 57vw 109vh var(--star-color), 84vw 51vh var(--star-color), 147vw 192vh var(--star-color), 30vw 160vh var(--star-color), 87vw 42vh var(--star-color);
    animation-duration: var(--stars-sm-speed);
}

.stars-sm:after {
    animation-delay: calc(var(--stars-sm-speed) / -2);
}

.stars-md {
    width: 2px;
    height: 2px;
}

.stars-md:before,
.stars-md:after {
    box-shadow: 106vw 171vh var(--star-color), 73vw 199vh var(--star-color), 66vw 81vh var(--star-color), 64vw 105vh var(--star-color), 46vw 49vh var(--star-color), 116vw 69vh var(--star-color), 111vw 188vh var(--star-color), 110vw 38vh var(--star-color), 25vw 157vh var(--star-color), 14vw 126vh var(--star-color), 1vw 31vh var(--star-color), 176vw 165vh var(--star-color), 42vw 136vh var(--star-color), 76vw 51vh var(--star-color), 125vw 116vh var(--star-color), 50vw 195vh var(--star-color), 26vw 42vh var(--star-color), 15vw 110vh var(--star-color), 178vw 187vh var(--star-color), 59vw 116vh var(--star-color), 170vw 137vh var(--star-color), 24vw 36vh var(--star-color), 165vw 175vh var(--star-color), 3vw 13vh var(--star-color), 159vw 14vh var(--star-color), 151vw 121vh var(--star-color), 124vw 199vh var(--star-color), 5vw 51vh var(--star-color), 5vw 130vh var(--star-color), 173vw 48vh var(--star-color), 147vw 151vh var(--star-color), 95vw 19vh var(--star-color), 93vw 112vh var(--star-color), 101vw 163vh var(--star-color), 69vw 141vh var(--star-color), 74vw 21vh var(--star-color), 74vw 43vh var(--star-color), 63vw 3vh var(--star-color), 195vw 49vh var(--star-color), 75vw 43vh var(--star-color), 147vw 70vh var(--star-color), 22vw 151vh var(--star-color), 127vw 171vh var(--star-color), 84vw 49vh var(--star-color), 72vw 47vh var(--star-color), 58vw 89vh var(--star-color), 68vw 154vh var(--star-color), 135vw 107vh var(--star-color), 134vw 39vh var(--star-color), 79vw 193vh var(--star-color), 15vw 112vh var(--star-color), 53vw 28vh var(--star-color), 186vw 77vh var(--star-color), 111vw 160vh var(--star-color), 142vw 194vh var(--star-color), 174vw 86vh var(--star-color), 152vw 58vh var(--star-color), 181vw 73vh var(--star-color), 1vw 23vh var(--star-color), 180vw 58vh var(--star-color), 168vw 172vh var(--star-color), 124vw 184vh var(--star-color), 131vw 76vh var(--star-color), 181vw 3vh var(--star-color), 113vw 178vh var(--star-color), 144vw 67vh var(--star-color), 9vw 15vh var(--star-color), 169vw 170vh var(--star-color), 9vw 119vh var(--star-color), 196vw 138vh var(--star-color), 10vw 9vh var(--star-color), 101vw 163vh var(--star-color), 42vw 9vh var(--star-color), 161vw 59vh var(--star-color), 183vw 146vh var(--star-color), 86vw 80vh var(--star-color), 6vw 15vh var(--star-color), 192vw 186vh var(--star-color), 69vw 70vh var(--star-color), 99vw 159vh var(--star-color), 151vw 66vh var(--star-color), 1vw 112vh var(--star-color), 197vw 51vh var(--star-color), 51vw 13vh var(--star-color), 50vw 150vh var(--star-color), 32vw 135vh var(--star-color), 115vw 176vh var(--star-color), 153vw 84vh var(--star-color), 160vw 40vh var(--star-color), 59vw 165vh var(--star-color), 64vw 120vh var(--star-color), 199vw 46vh var(--star-color), 26vw 79vh var(--star-color), 1vw 103vh var(--star-color), 98vw 24vh var(--star-color), 1vw 61vh var(--star-color), 192vw 77vh var(--star-color), 16vw 155vh var(--star-color), 3vw 15vh var(--star-color), 199vw 40vh var(--star-color), 137vw 112vh var(--star-color), 107vw 52vh var(--star-color), 162vw 19vh var(--star-color), 94vw 36vh var(--star-color), 1vw 115vh var(--star-color), 169vw 102vh var(--star-color), 122vw 111vh var(--star-color), 192vw 81vh var(--star-color), 101vw 144vh var(--star-color), 106vw 55vh var(--star-color), 75vw 29vh var(--star-color), 191vw 20vh var(--star-color), 56vw 54vh var(--star-color), 123vw 32vh var(--star-color), 49vw 190vh var(--star-color), 20vw 183vh var(--star-color), 39vw 139vh var(--star-color), 174vw 120vh var(--star-color), 68vw 31vh var(--star-color), 114vw 54vh var(--star-color), 3vw 10vh var(--star-color), 27vw 58vh var(--star-color), 53vw 74vh var(--star-color), 168vw 12vh var(--star-color), 156vw 41vh var(--star-color), 5vw 190vh var(--star-color), 32vw 134vh var(--star-color), 139vw 43vh var(--star-color), 5vw 99vh var(--star-color), 6vw 95vh var(--star-color), 183vw 199vh var(--star-color), 148vw 104vh var(--star-color), 38vw 151vh var(--star-color), 53vw 117vh var(--star-color), 163vw 195vh var(--star-color), 33vw 30vh var(--star-color), 72vw 120vh var(--star-color), 45vw 184vh var(--star-color), 94vw 85vh var(--star-color), 141vw 150vh var(--star-color), 63vw 139vh var(--star-color), 39vw 2vh var(--star-color), 136vw 156vh var(--star-color), 131vw 175vh var(--star-color), 139vw 22vh var(--star-color), 23vw 11vh var(--star-color), 85vw 64vh var(--star-color), 99vw 113vh var(--star-color), 76vw 84vh var(--star-color), 156vw 160vh var(--star-color), 112vw 188vh var(--star-color), 160vw 147vh var(--star-color), 27vw 90vh var(--star-color), 19vw 85vh var(--star-color), 1vw 112vh var(--star-color), 36vw 146vh var(--star-color), 66vw 17vh var(--star-color), 101vw 159vh var(--star-color), 16vw 91vh var(--star-color), 143vw 107vh var(--star-color), 63vw 118vh var(--star-color), 161vw 180vh var(--star-color), 114vw 27vh var(--star-color), 89vw 113vh var(--star-color), 48vw 76vh var(--star-color), 189vw 48vh var(--star-color), 187vw 137vh var(--star-color), 13vw 199vh var(--star-color), 35vw 129vh var(--star-color), 172vw 116vh var(--star-color), 29vw 91vh var(--star-color), 199vw 167vh var(--star-color), 40vw 36vh var(--star-color), 75vw 17vh var(--star-color), 61vw 21vh var(--star-color), 54vw 9vh var(--star-color), 197vw 55vh var(--star-color), 58vw 32vh var(--star-color), 183vw 164vh var(--star-color), 75vw 9vh var(--star-color), 119vw 108vh var(--star-color), 194vw 119vh var(--star-color), 196vw 198vh var(--star-color), 163vw 117vh var(--star-color), 34vw 8vh var(--star-color), 147vw 143vh var(--star-color), 102vw 10vh var(--star-color), 16vw 193vh var(--star-color), 178vw 57vh var(--star-color), 34vw 154vh var(--star-color), 167vw 150vh var(--star-color), 89vw 89vh var(--star-color), 166vw 42vh var(--star-color), 102vw 20vh var(--star-color), 200vw 146vh var(--star-color), 122vw 77vh var(--star-color), 184vw 140vh var(--star-color), 25vw 81vh var(--star-color), 140vw 43vh var(--star-color), 181vw 198vh var(--star-color);
    animation-duration: var(--stars-md-speed);
}

.stars-md:after {
    animation-delay: calc(var(--stars-md-speed) / -2);
}

.stars-lg {
    width: 4px;
    height: 4px;
}

.stars-lg:before,
.stars-lg:after {
    box-shadow: 145vw 164vh var(--star-color), 165vw 73vh var(--star-color), 168vw 94vh var(--star-color), 186vw 144vh var(--star-color), 70vw 5vh var(--star-color), 140vw 90vh var(--star-color), 161vw 127vh var(--star-color), 14vw 177vh var(--star-color), 111vw 178vh var(--star-color), 118vw 70vh var(--star-color), 76vw 124vh var(--star-color), 50vw 128vh var(--star-color), 177vw 200vh var(--star-color), 192vw 154vh var(--star-color), 119vw 67vh var(--star-color), 25vw 89vh var(--star-color), 45vw 14vh var(--star-color), 189vw 95vh var(--star-color), 89vw 145vh var(--star-color), 26vw 71vh var(--star-color), 190vw 80vh var(--star-color), 19vw 22vh var(--star-color), 129vw 199vh var(--star-color), 172vw 15vh var(--star-color), 24vw 53vh var(--star-color), 28vw 156vh var(--star-color), 33vw 5vh var(--star-color), 101vw 117vh var(--star-color), 39vw 3vh var(--star-color), 125vw 134vh var(--star-color), 1vw 78vh var(--star-color), 145vw 76vh var(--star-color), 52vw 162vh var(--star-color), 191vw 79vh var(--star-color), 90vw 182vh var(--star-color), 81vw 9vh var(--star-color), 26vw 198vh var(--star-color), 101vw 66vh var(--star-color), 146vw 24vh var(--star-color), 16vw 57vh var(--star-color), 92vw 9vh var(--star-color), 73vw 183vh var(--star-color), 192vw 23vh var(--star-color), 12vw 137vh var(--star-color), 8vw 177vh var(--star-color), 25vw 198vh var(--star-color), 172vw 24vh var(--star-color), 140vw 190vh var(--star-color), 5vw 178vh var(--star-color), 91vw 47vh var(--star-color);
    animation-duration: var(--stars-lg-speed);
}

.stars-lg:after {
    animation-delay: calc(var(--stars-lg-speed) / -2);
}

@keyframes stars {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes exhaust {
    to {
        transform: scaleX(0.98) translateY(-1vmin);
    }
}

@keyframes speed-up-exhaust {
    from {
        transform: scale(0.98, 1);
    }

    to {
        transform: scale(0.96, 1.5);
    }
}

@keyframes speed-up-ship {
    from {
        transform: translateY(-5%);
    }

    to {
        transform: translateY(-3%);
    }
}

@media screen and (max-width:1199px) {
    .body-space {
        min-height: 1070px;
    }
}

@media screen and (max-width: 768px) {
    .body-space {
        min-height: 1170px;
        padding: 70px 0;
    }
}

@media screen and (max-width:576px) {
    .body-space {
        min-height: 1260px;
        padding: 70px 0;
    }

    .body-space h2 {
        color: aliceblue;
        padding-top: 16px;
        padding-bottom: 32px;
    }


}