.animate-spin-slower {
    animation: spin 6s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

section.recontact .bloc-contact {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
}

section.recontact {
    background-color: #222835;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
}

section.recontact h2 {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9) !important;
    padding-bottom: 28px;
}

section.recontact p {
    font-size: 1.225rem;
    color: rgb(183 219 255) !important;
    text-align: left;
    padding-left: 10px;
}

section.recontact p {
    translate: 0px 3px;
}

section.recontact .svg-container {
    position: absolute;
    top: -10%;
    left: 50%;
    height: 100%;
    z-index: 0;
    transform: translateX(-50%);
}

section.recontact .macro {
    margin: 0 auto;
    max-width: 850px;
    padding: 2rem;
    position: relative;
}

@media (max-width: 768px) {
    section.recontact {
        padding-top: 1rem;
        padding-bottom: 5rem;
    }

    section.recontact .bloc-contact {
        display: grid;
        grid-template-columns: repeat(1, minmax(50%, 1fr));
        width: 247px;
    }


    section.recontact .svg-container {
        display: none;
    }

    section.recontact h2 {
        font-size: 2rem;
        font-weight: bold;
    }
}