/** Navbar **/
.navbar {
    background-color: rgb(255 255 255) !important;
    box-shadow: 0 4px 6px -1px #0000, 0 2px 4px -2px #00000030;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 9;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: lighter;
    margin-right: 24px;
    font-family: 'Rubik', sans-serif;
    color: #1e2435;
}

ul#header-menu {
    margin-top: 12px;
    margin-bottom: 12px;
}

.navbar .btn-search a {
    font-family: 'Nunito Sans', sans-serif;
    color: #c1c6d4;
    background: #1e2435;
    border-radius: 5px;
    padding: 12px 16px;
    display: inline-block;
    transform: translate(0px, 0px);
    transition: all .3s ease;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 17px;
}

.navbar .btn-search a i {
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    left: -6px;
    top: 1.5px;
    color: rgb(0, 240, 160);
}

nav {
    height: 4rem;
}

nav a {
    transition-duration: .2s;
}

nav a.active {
    color: rgb(0 31 68);
    border-bottom-width: 3px;
    border-bottom-color: #0d213a;

    &:hover {
        color: rgb(0 31 68);
        border-bottom-width: 3px;
        border-bottom-color: #0e233c;
    }
}

nav a.menu-mobile-link.active {
    color: rgb(29 78 216);
    font-weight: 500;
    border-bottom-width: 3px;
    border-bottom-color: transparent;
    background: rgb(239 246 255);
    border-left: 4px solid rgb(37 99 235);


    &:hover {
        color: rgb(29 78 216);
        font-weight: 500;
        border-bottom-width: 3px;
        border-bottom-color: transparent;
        background: rgb(239 246 255);
        border-left: 4px solid rgb(37 99 235);
    }
}

.hamburger {
    width: 50px;
    height: 50px;
}

.hamburger .line {
    width: 22px;
    height: 2px;
    background-color: #999faa;
    display: block;
    margin: 3.5px auto;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

/* ONE */

#burger-btn {
    border-radius: 5px;
    border: 1px solid #e2e2e7;
    width: 35px;
    height: 34px;
}

#burger-btn.is-active .line:nth-child(2) {
    opacity: 0;
}

#burger-btn.is-active .line:nth-child(1) {
    -webkit-transform: translateY(7px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(7px) translateX(1px) rotate(45deg);
    -o-transform: translateY(7px) translateX(1px)rotate(45deg);
    transform: translateY(7px) translateX(1px) rotate(45deg);
    background: #87888a;
}

#burger-btn.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-5px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-5px) translateX(1px) rotate(-45deg);
    -o-transform: translateY(-5px) translateX(1px) rotate(-45deg);
    transform: translateY(-5px) translateX(1px) rotate(-45deg);
    background: #87888a;
}