/** Navbar **/
.navbar {
    background-color: rgb(255 255 255) !important;
    box-shadow: 0 4px 6px -1px #0000, 0 2px 4px -2px #00000030;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 9;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: lighter;
    margin-right: 24px;
    font-family: 'Rubik', sans-serif;
    color: #1e2435;
}

ul#header-menu {
    margin-top: 12px;
    margin-bottom: 12px;
}

.navbar .btn-search a {
    font-family: 'Nunito Sans', sans-serif;
    color: #c1c6d4;
    background: #1e2435;
    border-radius: 5px;
    padding: 12px 16px;
    display: inline-block;
    transform: translate(0px, 0px);
    transition: all .3s ease;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 17px;
}

.navbar .btn-search a i {
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    left: -6px;
    top: 1.5px;
    color: rgb(0, 240, 160);
}