<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Airskill | Nos formations pro</title>
  <link rel="icon" type="image/png" href="{{ asset('resources/images/favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('resources/images/apple-touch-icon.png') }}">
  {{--  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('resources/images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('resources/images/favicon-16x16.png') }}">  --}}
  {{--  <link rel="manifest" href="{{ asset('resources/images/site.webmanifest') }}">  --}}
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.8.1/rxjs.umd.min.js" integrity="sha512-D9LDs8YUUVa4V9Gl4Zb+xqRAc7RCzooR3+zzebgK2RMu/KU+dh90pbjEEMzPiSyRSGbSp9j1pZnrO4joGa5WEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- CSS -->
  @vite(['resources/js/app.js'])
  <style>
    .ul.nav-formation li a.link {
      color: blue;
      &:hover {
        color: black
      }
    }
  </style>
</head>
<body>


@include('partials/home/navbar-tw')


<div class="container">
    <div class="row mt-6">
        <div class="col-12">
          <h1 class="fs-1 text-center">Nos formations pour les entreprises</h1>
  
            <ul class="d-flex justify-content-evenly my-5 nav-formation">
              <li>
                <a class="link" href="">
                  <strong>Tous</strong>
                </a>
              </li>
              @each(category in categories) 
              <li>
                <a class="link" href="{{ route('courses.indexbycategory', [category.name, category.id]) }}">
                  <strong>{{category.name}}</strong>
                </a>
              </li>
              @end
            </ul>
        
        </div>
        <div class="col-12 mt-0 mb-5">

          @if(!courses.length) 
          <h2 class="fs-4 text-center">Des formations bientôt disponibles.</h2>
          @end

    
            <ul role="list" class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3">

                @each(course in courses)
                <a href="{{ route('courses.show', [course.name.toLowerCase(), course.id]) }}">
                <li style="position: relative" class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow h-100">
                  <div style="min-height:180px" class="flex w-full items-start justify-between space-x-6 p-6">
                    <div class="flex-1 truncate">
                      <div class="flex items-center space-x-3">
                        <h2 class="truncate text-3xl font-medium text-gray-900">{{course.name}}</h2>
                        
                        <div style="position: absolute;top: 1px;left: 10px;">
                          @each(category in course.categories)
                          <span class="inline-flex flex-shrink-0 items-center rounded-full bg-blue-50 px-1.5 py-0.5 text-xs font-medium text-gray-500 ring-1 ring-inset ring-blue-500/20">
                            {{category.name}}
                          </span>
                          @end 
                        </div>

                      </div>
                      <h3 class="mt-1 fs-6 text-gray-700 text-wrap">
                        {{course.subtitle}}
                      </h3>

                      @if(course.duration)
                      <p style="position:absolute;bottom:10px;" class="fs-5">{{course.duration}} jours</p>
                      @end
                      {{--  <p class="mt-3 text-sm text-gray-500">
                        {{course.goal}}
                      </p>  --}}
                    </div>
                    <img class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-50" 
                    src="https://frederic-lossignol.com/{{course.iconurl}}" alt="">
                  </div>
                  
                </li>
            </a>
            @end
              
              </ul>

        </div>
    </div>
   
            
              
     
</div>

@include('partials/home/recontact')

@include('partials/footer')