@include('partials/header')

{{--  <div class="contentup"> (in header.edge) --}}

  @include('partials/home/hero')
  @include('partials/home/onboarding')
  {{--  @include('partials/home/expertises')  --}}
  @include('partials/home/space')
  @include('partials/home/founders')
  @include('partials/home/recontact')

{{--  </div> (in footer.edge) --}}


@include('partials/footer')

