@include('partials/header')

<main class="main">
  @include('partials/home/hero')
  @include('partials/home/onboarding')
  {{--  @include('partials/home/expertises')  --}}
  @include('partials/home/space')
  @include('partials/home/founders')
</main>

@include('partials/home/recontact')

@include('partials/footer')

